/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adjusted Custom Checkbox and Radio Styles for Compatibility */
.custom-control .control-indicator {
  display: inline-block;
  width: 20px; /* Control size */
  height: 20px; /* Control size */
  border: 1px solid #4a5568; /* Restored border thickness for visibility */
  border-radius: 0; /* Square corners */
  background: white; /* Background color */
  position: relative;
  vertical-align: middle; /* Aligns control with the text */
  /* margin-right: px; Adds spacing between checkboxes/radio buttons */
}

.custom-control .control-indicator::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px; /* Vertically centers the indicator */
}

/* Styles for selected state */
.custom-control input:checked + .control-indicator::before {
  background-color: black; /* Selected state background color */
  color: white; /* Selected state checkmark color */
  font-size: 16px; /* Checkmark font size */
  content: '✓'; /* Checkmark symbol */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide the default checkbox and radio button input */
.custom-control input {
  opacity: 0; /* Hide the default input */
  position: absolute;
  width: 100%; /* Full-size input boxes */
  height: 100%; /* Full-size input boxes */
  margin: 0; /* Reset margin to ensure full-size coverage */
  z-index: 1; /* Ensure input is above the styled indicator for accessibility */
}

/* Styles for focus and active states */
.custom-control input:focus + .control-indicator {
  box-shadow: 0 0 0 2px #bfdbfe; /* Focus state outline */
}

.custom-control input:active + .control-indicator::before {
  background-color: #2b6cb0; /* Active state background color */
}

.error-message {
  color: #ff6b6b; /* Error message text color */
  font-size: 0.875rem; /* Error message font size */
  margin-top: 0.25rem; /* Space above the error message */
  margin-bottom: 0.25rem; /* Space below the error message, if needed */
}

/* Add this new class in your CSS file */
/* .conditional-error-message {
  color: #ff6b6b; /* Error message text color */
  /* font-size: 0.875rem; /* Error message font size */
  /* margin-top: -0.25rem; Space above the error message */
  /* margin-bottom: 0.25rem; Space below the error message, if needed */
  /* Other specific styles if necessary */
/* } */

/* Additional styles can be added as needed */
